.basicModalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75vh;
    transform: translate(-50%, -50%);
    width: 70%;
    background: #ffff;
    border: 2px solid #000;
}

.basicModalBox .ModalXCloseButton {
    height: 10%;
    display: flex;
    justify-content: end;
}

.basicModalBox .ModalComponentSpace {
    height: 80%;
    width: 90%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.basicModalBox .ModalComponentButtons {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .basicModalBox {
        width: 90%;
        height: 95vh;
    }

}