.quickFacts {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    margin-left: 20px;
    margin-right: 20px;

}

.quickFactsInfo {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.quickFactsInfoLeftSide {
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .quickFacts {
        flex-direction: column;
    }

    .quickFactsInfo {
        flex-direction: column;
    }
}