.Footer {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: darkgrey;
}


.Footer .SiteLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.Footer .SiteLinks .Header {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.Footer .PaymentMethods {
    display: flex;
    justify-content: center;
}